<div id="container"></div>
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script>
    Highcharts.chart('container', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'Total number of Sixes in each season'
        },
        subtitle: {
            text: '------------------------------'
        },
        xAxis: {
            categories: {{plot_data.season|safe}},
            crosshair: true
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Number of Sixes'
            }
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: 'Seasons',
            data: {{plot_data.sixes}}
    
        }]
    });
</script>