<div id="container"></div>
<script src="https://code.highcharts.com/highcharts.src.js"></script>
<script>
   Highcharts.chart('container', {
   chart: {
       type: 'column'
   },
   title: {
       text: 'Matches won of all teams over all the years'
   },
   xAxis: {
       categories: [{% for team_data in winners_per_season.values %}{% if forloop.first %}{% for season in team_data.keys %}{% if forloop.last %}{{season}}{% else %}{{season}},{% endif %}{% endfor %}{% endif%}{% endfor %}]

   },
   yAxis: {
       min: 0,
       title: {
           text: 'Winners per Season'
       },
       stackLabels: {
           enabled: true,
           style: {
               fontWeight: 'bold',
               color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
           }
       }
   },
   legend: {
       align: 'right',
       x: -30,
       verticalAlign: 'top',
       y: 25,
       floating: true,
       backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
       borderColor: '#CCC',
       borderWidth: 1,
       shadow: false
   },
   tooltip: {
       headerFormat: '<b>{point.x}</b><br/>',
       pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
   },
   plotOptions: {
       column: {
           stacking: 'normal',
           dataLabels: {
               enabled: true,
               color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white'
           }
       }
   },
   series:[

       {% for team, wins in winners_per_season.items %}
       {
           name: '{{ team }}',
           data: [{% for win in wins.values %}{{win}}{% if not forloop.last %},{% endif %}{% endfor %}]
       }{% if not forloop.last %},{% endif %}
       {% endfor %}
   ]
});
</script>